  li a.list-group-item {
    border-radius: 3px;
    margin: 3px;
  }
.title {
  color:#c94d4d;
  margin-bottom: 15px;
}

ul {
  width: 50%;
  margin-top: 1.5em;
}

.list-group {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 15%;
  border-top: 1px solid lightgrey;
}

app-item-detail {
  margin: 1em;
  width: 50%;
  margin-top: 0;
}

.id {
  padding: 5px 20px 5px 0;
  border-right: 1px solid black;
}
span {
  padding-left: 20px;
}

app-item-detail {
  margin-top: 1.5em;
}

.create {
  margin-bottom: 1em;
}

.create a {
  position: absolute;
  background-color: rgb(16, 24, 88);
  color: rgb(243, 243, 243);
  padding: 0.5em;
  left: 43%;
  border-radius: 5px;
}

.create a:hover {
  background-color: rgb(212, 85, 71);
}

