
.nav ul {
    list-style-type: none;
    display: flex;
  }
  .nav li {
    margin: 15px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    height: 5em;
  }
 
.line { 
    background-color: black;
    height: 1px;
  }

a {
  display: block;
}