  h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  h4 {
    position: relative;
    margin: 0;
    padding: 35px;
  }
  h4:hover {
    padding: 34px;
  }
  .grid {
    display: flex;
    gap: 0.6em;
    position: relative;
  }
 .grid a {
    display: flex;
    background-color: rgb(25, 39, 77);
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 25%;
    justify-content: center;
    position: relative;
    user-select: none;
    border: 1px solid white;
  }
  .grid a:hover {
    color: rgb(25, 39, 77);
    background-color:  white;
    border: 1px solid;
  }

  .place {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 4px;
  }
