.dropd {
    display: flex;
    width: 100%;
    padding-left: 10px;
}

.dropd::after {
    color: white;
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    margin-top: 10px;
}
p {
    display: inline;
}
th {
    font-weight: lighter !important;
}
.items {
    background-color: rgb(240, 240, 240);
    color: rgb(70, 70, 70);
    margin: 0;
    padding-left: 10px;
    border-left: 1px solid rgb(211, 211, 211);
    border-right: 1px solid lightgray;
    z-index: 10;
    font-weight: 130;
    user-select: none;
}

.items:last-child {
    border-bottom: 1px solid lightgray;
}

.items:hover {
    background-color: rgb(224, 224, 224);
}

.shadow {
    box-shadow: 6px 6px 23px 0px rgba(117,117,117,0.68);
}