button.btn-small.btn-secondary {
  border-radius: 5px;
}

input {
  margin: 2px;
}

.tab {
  display: flex;
  position: relative;
  z-index: 9;
}

app-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 0 12px 0;
  width: 100px;
  z-index: 10;
}
.create {
  margin-bottom: 1em;
}

.create a {
  position: absolute;
  background-color: rgb(16, 24, 88);
  color: rgb(243, 243, 243);
  padding: 0.5em;
  left: 43%;
  border-radius: 5px;
}

.create a:hover {
  background-color:rgb(212, 85, 71);
}