button.btn-small.btn-secondary {
  border-radius: 5px;
}

input {
  margin: 2px;
}

.tab {
  display: flex;
  position: relative;
  z-index: 9;
}

app-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 0 12px 0;
  width: 100px;
  z-index: 10;
}
