<div class="border-container">
<h2 class="title" style="color:#c94d4d;">My Heroes</h2>
  <div class="tab">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Money</th>
          <th scope="col">Life</th>
          <th scope="col">Strength</th>
          <th scope="col"></th>
          <th scope="col">
            <app-dropdown [(sortBy)]="sortBy"></app-dropdown>
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">
        <tr>
          <th scope="row">{{hero.id}}</th>
          <td>{{hero.name}}</td>
          <td>{{hero.money}}</td>
          <td>{{hero.life}}</td>
          <td>{{hero.strength}}</td>
          <td class="button-center"><button class="btn btn-secondary" title="delete hero"
            (click)="delete(hero)">Delete</button></td>
          <td></td>
        </tr>  
      </tbody>
    </table>
  </div>
  <div class="create">
    <a routerLink="/hero-form">Create a Hero</a> 
  </div>
</div>

